body {
  height: 100vh;
  display: flex;
  background: url(img/pexels-johannes-plenio-1103970.jpg) no-repeat fixed;
  background-size: cover;
  align-items: center;
  justify-content: center
}

input,
select {
  width: 195px;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

.container {
  position: relative;
  display: flex;
  width: 1000px;
}

.formContainer {
  background: rgb(15, 15, 15);
  max-width: 500px;
  width: 100%;
  padding: 10px;
  margin: auto;
}

.title {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: yellow;
}


.inputFields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;

}

.fields {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  width: calc(100% / 3 -15px);
}

.fields label {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.fields input,
select,
option {
  outline: none;
  height: 40px;
  margin: 5px 0;
  border: 1px solid #aaa;
  text-align: center;
}

::placeholder {
  text-align: center;
}

a {
  color: rgb(12, 230, 117);
  text-decoration: none;
}

button {
  border: 1px solid red;
  border-radius: 1rem;
  padding: 5px 40px;
  margin: 3px 0;
  background-color: black;
  color: rgb(235, 243, 32);
  font-size: 20px;
  font-weight: 600;
}

.link {
  color: #fff;
}

@media (max-width: 1003px) {
  input,
  select {
    width: 95%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image {
    width: 500px;
  }

  .imageContainer {
    padding: 100%;
  }

  .title {
    text-align: center;
  }

  .inputFields {
    margin: auto 3rem;
  }

  .fields {
    width: 100%;
  }
}